<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>URL Shortener | Veljko Loncarevic</title>
    <link rel="stylesheet" href="style.css">
    <script src="send-request.js"></script>
</head>
<body>
    <header>
        <div>
            <a class="nav-link" href="https://short.veljkoloncarevic.in.rs/">
                <i class="fa fa-cloud"></i>
                <span>URL Shortener</span>
            </a>
        </div>

        <div>
            <a class="nav-link" href="https://www.veljkoloncarevic.in.rs/">
                
                <i class="fa fa-home"></i>
            </a>
        </div>
    </header>

    <div class="main-content">
        <form>
            <div class="form-content">
                <div class="form-content-sub">
                    <label for="operation">Operation</label>
                    <select id="operation" name="operation">
                        <option value="insert">Insert</option>
                        <option value="update">Update</option>
                        <option value="delete">Delete</option>
                    </select>
                    <label for="auth_token">Authorization token</label>
                    <input id="auth_token" name="auth_token">
                </div>
                <div class="form-content-sub">
                    <label for="short_url">Short code</label>
                    <input id="short_url" name="short_url">
                    <label for="url">Target URL</label>
                    <input id="url" name="url">
                </div>
            </div>
            <button type="button" onclick="sendRequest();">Submit</button>
        </form>
        <div class="result-div">
            <div id="request_result"></div>
        </div>
    </div>

    <footer>

    </footer>
</body>
</html>