<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>URL Shortener | Veljko Loncarevic</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div>
            <a class="nav-link" href="https://short.veljkoloncarevic.in.rs/">
                <i class="fa fa-cloud"></i>
                <span>URL Shortener</span>
            </a>
        </div>

        <div>
            <a class="nav-link" href="https://www.veljkoloncarevic.in.rs/">
                
                <i class="fa fa-home"></i>
            </a>
        </div>
    </header>

    <div>
        <form>
            <div>
                <div>
                    <label>Operation</label>
                    <input>
                    <label>Authorization token</label>
                    <input>
                </div>
                <div>
                    <label>Short code</label>
                    <input>
                    <label>Target URL</label>
                    <input>
                </div>
            </div>
            <buttom>Submit</buttom>
        </form>
    </div>

    <footer>

    </footer>
</body>
</html>