body {
    margin: 0;
}

:root {
    --green: rgb(33, 157, 33);
    --red: rgb(175, 19, 19);
}

* {
    font-family: Arial;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 36px;
}

#request_result {
    padding: 20px 30px;
    background-color: var(--green);
    border-radius: 15px;
    border: 5px double rgb(2, 2, 2);
    color: white;
    width: 200px;
    text-align: center;
    display:none;
}